/* //// ROOT VARIABLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* //// GLOBAL | site-wide */



/* //// HEADER + NAV  */



/* //// MAIN  */



/* //// FOOTER  */



/* //// MEDIA QUERIES  */