:root {
    --primary-color: white;
    --secondary-color: #252525;
    --tertiary-color: #00A650;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--primary-color);
    color:var(--secondary-color);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    max-width: 100vmin;
}

#roasted-boar {

}

#magic-mead {

}

#goat-mead {

}