/* //// ROOT VARIABLES */

:root{
    --primary-color: white;
    --secondary-color: black;
}


/* //// GLOBAL STYLE */


/* || RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* || TIPOGRAPHY */

html {
    font-size: 16px; /* Sets the base font size to 16px */
}

body {
    font-family: "PT Serif", serif;
    background-color: var(--primary-color);
}


/* //// HEADER + NAV  */

#logo {
    font-family: "Metamorphous", "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding: 1em 2em;
}

nav {}

nav .nav-links {}

/* //// MAIN  */



/* //// FOOTER  */



/* //// MEDIA QUERIES  */